 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$padding : 10px;
$blue : #45c8fc;

body {
  background:#dce3e9;
}

.app-container {
  width:90%;
  height:500px;
  margin:50px auto;
  border:1px solid black;
  border-radius:12px;
  box-shadow: 0 1px 10px #333;
  background:white;
  overflow:hidden;
  color:#333;
}

header {
  background:$blue;
  padding:$padding;
  width:100%;
  border-bottom:1px solid black;
}

.chatbox {
  overflow:scroll;
  height:85%;
  position:relative;
}

footer {
  padding:10px;
  background:$blue;
  border-top:1px solid black;

  input {
    outline:none;
    height:24px;
    width:100%;
    border:1px solid grey;
    border-radius:3px;
    padding:4px;
    position:absolute;
    bottom:0;

    &:focus {
      border:1px solid blue;
    }
  }
}

.chat {
  border-bottom:1px solid black;
  padding:10px;
  width:100%;

  .date {
    float:right;
    color:#071ac5;
  }
}

h1 {
  margin:0;
  display:inline-block;
  font-weight:bold;
}
